.clearfix {
  overflow: auto;
  zoom: 1; }

.main {
  background-color: darkgrey; }

.top {
  width: 1400px;
  background-color: white;
  float: left;
  margin: 0 0 0 0;
  position: relative;
  padding: 0 0 0 0; }

.datetimetopbox {
  width: 400px;
  background-color: white;
  margin: 0 0 0 0;
  float: left;
  margin: 0 0 0 0;
  padding: 10px 0 0 0; }

.datetop {
  float: right;
  margin: 0;
  color: gray; }

.timetop {
  float: right;
  margin: 20px -45px 0 0;
  font-size: 3rem;
  color: #71c0ef; }

.topcenterbox {
  width: 70px;
  background-color: white;
  float: left;
  padding: 0; }

.topblueline {
  width: 10px;
  height: 500px;
  background-color: #71c0ef;
  margin: 40px 0 20 20px;
  padding: 0 0 0 0; }

img {
  border-radius: 50%;
  width: 50px; }

.toprightbox {
  width: 600px;
  background-color: #71c0ef;
  float: left;
  margin: 15px 0 0 0;
  border-radius: 10px;
  padding: 5px; }

.burgerhead {
  width: 600px;
  color: white;
  margin: 0 0 0 20px;
  padding: 30px 20px 10px 0;
  border-bottom: 1px solid white; }

.paragraph {
  padding: 10px;
  color: white; }

.top {
  width: 1400px;
  background-color: white;
  float: left;
  margin: 0 0 0 0;
  position: relative; }

.datetimebottombox {
  width: 400px;
  background-color: white;
  margin: 0 0 0 0;
  float: left;
  margin: 0 0 0 0;
  padding: 10px 0 0 0; }

.datebottom {
  float: right;
  margin: 0;
  color: gray; }

.timebottom {
  float: right;
  margin: 20px -45px 0 0;
  font-size: 3rem;
  color: #71c0ef; }

.topcenterbox {
  width: 70px;
  background-color: white;
  float: left;
  padding: 0;
  margin: 0 0 0 5px; }

.topblueline {
  width: 10px;
  height: 500px;
  background-color: #71c0ef;
  margin: 0 0 0 20px; }

img {
  border-radius: 50%;
  width: 50px; }

.bottomrightbox {
  width: 600px;
  background-color: #3b95cb;
  float: left;
  margin: 15px 0 0 0;
  border-radius: 10px;
  padding: 5px; }

.burgerhead {
  width: 500px;
  color: white;
  margin: 0 0 0 20px;
  padding: 30px 20px 10px 0;
  border-bottom: 1px solid white; }

.paragraph {
  padding: 10px;
  color: white; }

.scroll {
  position: absolute;
  height: 800px; }
